select {
  display: inline;
}

::-webkit-input-placeholder {
  font-style: italic;
}

.form-control {
  width: 50%;
}

.btn-warning {
  background-color: darkorange;
}

.btn-secondary {
  background-color: darkgrey;
  color: white;
}

.short {
  width: 15%;
  display: inline;
}

.hide {
  display: none;
}

.btn-success {
  width: 17%;
}

.btn-danger {
  width: 17%;
}

.mid {
  text-align: center;
  margin-top: 20%;
  padding-bottom: 10px;
}

.cn {
  margin-left: 40%;
}

#fun label {
  display: block;
}

#title {
  width: 100%;
}

#line {
  display: inline;
}

#fun input {
  display: inline;
}

#drop {
  display: inline;
}

#num {
  display: inline;
  width: 20%;
}
